@import 'normalize';
html, body {
  font-family: 'Raleway', sans-serif;
}
 
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}
 
a {
  text-decoration: underline;
  color: blue;
}
 
#sidebar {
  width: 250px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: #f5f7f9;
  padding: 7em 0 0 0;
  border-right: 1px solid #d6dce0;
}
  

 

 
#main_content {
  margin-left: 250px;
}
  #header {
    padding: 1em 4em;
    border-bottom: 1px solid #d6dce0;
    background: #f5f7f9;
    color: #9eafba;
    margin-left: -50px;
    margin-top: -10px;
  }
#page_wrapper {
    padding: 3em;
  }
    
    #content {
      h1 {
        font-weight: 500;
      }
      p {
        font-size: 1.1em;
        line-height: 1.75;
      }
      a {
        color: blue;
        font-weight: 700;
        text-decoration: underline;
      }
    }
  
  


  
  
  
 
 