
<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "photo1.png" %>
	</div>

	<div id="content">
		<h1>Привет</h1>
		<p>Меня зовут Евгений Баранов. Я из Санкт-Петербурга.  Мне 32 года. По специальности инженер связи, занимался ремонтом сотовых телефонов и прочих железяк, последние 6 лет работаю инженером отдела сервиса в компании производящей громкоговорящую связь. Всегда интересовался веб разработкой и 2015 год провел в изучении Ruby on Rails. Сейчас ищу работу junior Ruby on Rails developer. Связаться со мной можно по почте: <a href="mailto:Baranoff_bonch@mail.ru">Почта</a> </p>
		
	</div>
  </div>


 
  