<% provide(:title, "Портфолио:") %>
<div id="page_wrapper">
	
	<div id="profile_image">
		<%= link_to root_path do %>
          <%= image_tag "rails.png" %>
        <% end %>
	</div>

	<div id="content">
		<h1>Портфолио</h1>
		<p>В портфолио пока только блог, но оно будет пополняться. На очереди интернет магазин.</p>
		
		
	</div>
</div>
